.row{
    padding-top: 10rem;
    padding-bottom: 1rem;
}
.col-sm-3{
    color: indigo;
}
.card-title{
    padding: 1rem;
    font-size: 3rem;
    font-weight: bold;
}
.card-text{
    font-size: 2rem;
}
.card-text-per{
    font-size: 2.3rem;
    font-weight: bolder;
}
h1{
    font-size: 4rem;
    font-weight: bolder;
}
.col{
    padding-top: 0.5rem;
}